@import url('../../assets/fonts/fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 400;
}

:root {
  --width_before_breakpoint: 2880;
  --width_after_breakpoint: 850;
}

.sign_in {
  width: calc(996 * 100vw / var(--width_before_breakpoint));
  height: calc(1125 * 100vw / var(--width_before_breakpoint));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.sign_in > h2 {
  margin-top: calc(80 * 100vw / var(--width_before_breakpoint));
  width: calc(798 * 100vw / var(--width_before_breakpoint));
  display: flex;
  justify-content: center;
  font-size: calc(32 * 100vw / var(--width_before_breakpoint));
}

.sign_in > div {
  margin-top: calc(40 * 100vw / var(--width_before_breakpoint));
  width: calc(798 * 100vw / var(--width_before_breakpoint));
}

.sign_in > div > input {
  width: 100%;
  padding-bottom: calc(20 * 100vw / var(--width_before_breakpoint));
  margin-top: calc(80 * 100vw / var(--width_before_breakpoint));
  border: none;
  border-bottom: 1px solid #d8d8d8;
}

.sign_in > div > p {
  width: 100%;
  margin-top: calc(20 * 100vw / var(--width_before_breakpoint));
  display: flex;
  justify-content: center;
}

.sign_in > div > input::-webkit-input-placeholder {
  font-size: calc(24 * 100vw / var(--width_before_breakpoint));
}

.sign_in > button {
  background-color: black;
  margin-top: calc(80 * 100vw / var(--width_before_breakpoint));
  width: calc(480 * 100vw / var(--width_before_breakpoint));
  height: calc(100 * 100vw / var(--width_before_breakpoint));
  border: none;
  color: white;
  font-size: calc(32 * 100vw / var(--width_before_breakpoint));
}

.sign_in > span {
  margin-top: calc(60 * 100vw / var(--width_before_breakpoint));
  width: calc(798 * 100vw / var(--width_before_breakpoint));
}

.sign_in > span > a {
  font-size: calc(24 * 100vw / var(--width_before_breakpoint));
  color: black;
}

@media screen and (max-width: 850px) {
  .sign_in {
    width: calc(846 * 100vw / var(--width_after_breakpoint));
    height: calc(1125 * 100vw / var(--width_after_breakpoint));
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }

  .sign_in > h2 {
    margin-top: calc(80 * 100vw / var(--width_after_breakpoint));
    width: calc(726 * 100vw / var(--width_after_breakpoint));
    display: flex;
    justify-content: center;
    font-size: calc(32 * 100vw / var(--width_after_breakpoint));
  }

  .sign_in > div {
    margin-top: calc(56 * 100vw / var(--width_after_breakpoint));
    width: calc(726 * 100vw / var(--width_after_breakpoint));
  }

  .sign_in > div > p {
    width: 100%;
    margin-top: calc(20 * 100vw / var(--width_before_breakpoint));
    display: flex;
    justify-content: center;
  }

  .sign_in > div > input {
    width: 100%;
    padding-bottom: calc(20 * 100vw / var(--width_after_breakpoint));
    margin-top: calc(60 * 100vw / var(--width_after_breakpoint));
    border: none;
    border-bottom: 1px solid #d8d8d8;
  }

  .sign_in > div > input::-webkit-input-placeholder {
    font-size: calc(24 * 100vw / var(--width_after_breakpoint));
  }

  .sign_in > button {
    background-color: black;
    margin-top: calc(24 * 100vw / var(--width_after_breakpoint));
    width: calc(440 * 100vw / var(--width_after_breakpoint));
    height: calc(80 * 100vw / var(--width_after_breakpoint));
    border: none;
    color: white;
    font-size: calc(28 * 100vw / var(--width_after_breakpoint));
  }

  .sign_in > span {
    margin-top: calc(60 * 100vw / var(--width_after_breakpoint));
    width: calc(798 * 100vw / var(--width_after_breakpoint));
  }

  .sign_in > span > a {
    font-size: calc(24 * 100vw / var(--width_after_breakpoint));
    color: black;
  }
}
