@import url('../../../assets/fonts/fonts.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 400;
}

:root {
  --width_before_breakpoint: 2880;
  --width_after_breakpoint: 850;
}

.footerSection {
  width: 100%;
  margin-top: 6vw;
  margin-bottom: calc(180 * 100vw / var(--width_before_breakpoint));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerSection > div {
  width: calc(2466 * 100vw / var(--width_before_breakpoint));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerSection > div > h2 {
  text-align: center;
  margin-top: calc(180 * 100vw / var(--width_before_breakpoint));
  font-size: calc(32 * 100vw / var(--width_before_breakpoint));
}

.footerSection > div > p {
  margin-top: calc(32 * 100vw / var(--width_before_breakpoint));
  text-align: center;
  font-size: calc(24 * 100vw / var(--width_before_breakpoint));
}

.footerSection > div > div {
  width: calc(800 * 100vw / var(--width_before_breakpoint));
  height: calc(50 * 100vw / var(--width_before_breakpoint));
  margin-top: calc(80 * 100vw / var(--width_before_breakpoint));
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footerSection > div > div > input {
  width: calc(723 * 100vw / var(--width_before_breakpoint));
  font-size: calc(32 * 100vw / var(--width_before_breakpoint));
  border: none;
}

.footerSection > div > div > a {
  font-size: calc(32 * 100vw / var(--width_before_breakpoint));
}

.footerSection > div > hr {
  width: calc(800 * 100vw / var(--width_before_breakpoint));
}

.footerSection > div > footer {
  width: calc(2466 * 100vw / var(--width_before_breakpoint));
  margin-top: calc(120 * 100vw / var(--width_before_breakpoint));
  display: flex;
  justify-content: space-between;
}

.footerSection > div > footer > div > h3 {
  font-size: calc(32 * 100vw / var(--width_before_breakpoint));
}

.footerSection > div > footer > div > h3 > img {
  display: none;
}

.footerSection > div > footer > div > div > p {
  font-size: calc(24 * 100vw / var(--width_before_breakpoint));
  margin-top: calc(40 * 100vw / var(--width_before_breakpoint));
}

.footerSection > div > footer > div > div > p > img {
  width: calc(24 * 100vw / var(--width_before_breakpoint));
  height: calc(24 * 100vw / var(--width_before_breakpoint));
  margin-right: calc(20 * 100vw / var(--width_before_breakpoint));
}

@media screen and (max-width: 850px) {
  .footerSection {
    width: 100%;
    margin-top: 12vw;
    margin-bottom: calc(126 * 100vw / var(--width_after_breakpoint));
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerSection > div {
    width: calc(794 * 100vw / var(--width_after_breakpoint));
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerSection > div > h2 {
    text-align: center;
    margin-top: calc(80 * 100vw / var(--width_after_breakpoint));
    font-size: calc(32 * 100vw / var(--width_after_breakpoint));
  }

  .footerSection > div > p {
    margin-top: calc(20 * 100vw / var(--width_after_breakpoint));
    text-align: center;
    font-size: calc(24 * 100vw / var(--width_after_breakpoint));
  }

  .footerSection > div > div {
    width: calc(754 * 100vw / var(--width_after_breakpoint));
    height: calc(36 * 100vw / var(--width_after_breakpoint));
    margin-top: calc(78 * 100vw / var(--width_after_breakpoint));
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .footerSection > div > div > input {
    width: calc(700 * 100vw / var(--width_after_breakpoint));
    font-size: calc(24 * 100vw / var(--width_after_breakpoint));
    border: none;
  }

  .footerSection > div > div > a {
    font-size: calc(24 * 100vw / var(--width_after_breakpoint));
  }

  .footerSection > div > hr {
    width: calc(754 * 100vw / var(--width_after_breakpoint));
  }

  .footerSection > div > footer {
    width: calc(794 * 100vw / var(--width_after_breakpoint));
    margin-top: calc(122 * 100vw / var(--width_after_breakpoint));
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }

  .footerSection > div > footer > div > h3 {
    font-size: calc(32 * 100vw / var(--width_after_breakpoint));
    margin-top: calc(45 * 100vw / var(--width_after_breakpoint));
    display: flex;
    align-items: center;
  }

  .footerSection > div > footer > div > h3 > img {
    display: block;
    width: calc(16 * 100vw / var(--width_after_breakpoint));
    height: calc(16 * 100vw / var(--width_after_breakpoint));
    margin-right: calc(20 * 100vw / var(--width_after_breakpoint));
  }

  .footerSection > div > footer > div > div > p {
    font-size: calc(24 * 100vw / var(--width_after_breakpoint));
    margin-top: calc(30 * 100vw / var(--width_after_breakpoint));
  }

  .footerSection > div > footer > div > div > p > img {
    width: calc(24 * 100vw / var(--width_after_breakpoint));
    height: calc(24 * 100vw / var(--width_after_breakpoint));
    margin-right: calc(20 * 100vw / var(--width_after_breakpoint));
  }
}
