* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 400;
}

:root {
  --width_before_breakpoint: 2880;
  --width_after_breakpoint: 850;
}

.shoppingCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoppingCard > p {
  margin-top: calc(56 * 100vw / var(--width_before_breakpoint));
  width: calc(1056 * 100vw / var(--width_before_breakpoint));
  text-align: start;
}

.shoppingCard > span {
  margin-top: calc(80 * 100vw / var(--width_before_breakpoint));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoppingCard > span > p {
  font-size: calc(48 * 100vw / var(--width_before_breakpoint));
}

.shoppingCard > span > button {
  margin-top: calc(48 * 100vw / var(--width_before_breakpoint));
  width: calc(480 * 100vw / var(--width_before_breakpoint));
  height: calc(100 * 100vw / var(--width_before_breakpoint));
  font-size: calc(32 * 100vw / var(--width_before_breakpoint));
  color: white;
  background-color: black;
  border: none;
}

.shoppingCard > span > div {
  margin-top: calc(40 * 100vw / var(--width_before_breakpoint));
  width: calc(170 * 100vw / var(--width_before_breakpoint));
  height: calc(48 * 100vw / var(--width_before_breakpoint));
  display: flex;
  justify-content: space-between;
}

.shoppingCard > span > div > img {
  width: calc(80 * 100vw / var(--width_before_breakpoint));
  height: calc(48 * 100vw / var(--width_before_breakpoint));
}

.shoppingCard > div > div {
  margin-top: calc(60 * 100vw / var(--width_before_breakpoint));
  width: calc(1056 * 100vw / var(--width_before_breakpoint));
  height: calc(635 * 100vw / var(--width_before_breakpoint));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shoppingCard > div > div > hr {
  margin-top: calc(63 * 100vw / var(--width_before_breakpoint));
  width: 100%;
}

.shoppingCard > div > div > span {
  margin-top: calc(86 * 100vw / var(--width_before_breakpoint));
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.shoppingCard > div > div > span > img {
  width: calc(24 * 100vw / var(--width_before_breakpoint));
  height: calc(24 * 100vw / var(--width_before_breakpoint));
  margin-right: calc(14 * 100vw / var(--width_before_breakpoint));
}

.shoppingCard > div > div > span > p {
  display: inline;
  font-size: calc(24 * 100vw / var(--width_before_breakpoint));
}

.shoppingCard > div > div > div {
  width: 100%;
  height: calc(460 * 100vw / var(--width_before_breakpoint));
  display: flex;
  justify-content: flex-start;
}

.shoppingCard > div > div > div > img {
  width: calc(320 * 100vw / var(--width_before_breakpoint));
  height: calc(460 * 100vw / var(--width_before_breakpoint));
}

.shoppingCard > div > div > div > div {
  height: calc(460 * 100vw / var(--width_before_breakpoint));
  margin-left: calc(40 * 100vw / var(--width_before_breakpoint));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shoppingCard > div > div > div > div>p{
  margin-top: calc(20 * 100vw / var(--width_before_breakpoint));
  display: inline;
  font-size: calc(32 * 100vw / var(--width_before_breakpoint));
}

.shoppingCard > div > div > div > div>span{
  margin-top: calc(20 * 100vw / var(--width_before_breakpoint));
  display: inline;
  font-size: calc(32 * 100vw / var(--width_before_breakpoint));
}

.shoppingCard > div > div > div > div>div{
  margin-top: calc(23 * 100vw / var(--width_before_breakpoint));
}

.shoppingCard > div > div > div > div>div>p{
  margin-top: calc(37 * 100vw / var(--width_before_breakpoint));
  text-transform: uppercase; 
  font-size: calc(24 * 100vw / var(--width_before_breakpoint));
}
